.header {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}
.header-links {
  margin-right: 55px;
  display: flex;
  grid-column: 5/span 4;
  justify-content: space-between;
}
.header-links a {
  text-decoration: none;
  outline: none;
  color: #446381;
}
.header-btn {
  grid-column: span 2;
  font-size: 18px;
  font-family: inherit;
  color: white;
  background: linear-gradient(#4499D9, #7367BE);
  border: none;
  border-radius: 100px;
  padding: 13px 14px;
  -webkit-animation: beat 2s ease-in-out infinite;
          animation: beat 2s ease-in-out infinite;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 54px;
  gap: 30px;
}
.hero .head {
  display: flex;
  align-items: center;
}
.hero .head .arrow {
  -webkit-animation: arrow 4s linear infinite;
          animation: arrow 4s linear infinite;
}
@-webkit-keyframes arrow {
  0% {
    animation-direction: reverse;
    transform: translateX(-500px);
  }
}
@keyframes arrow {
  0% {
    animation-direction: reverse;
    transform: translateX(-500px);
  }
}
.hero .head h4 {
  margin-right: 2px;
  color: #446381;
  font-size: 23px;
  font-weight: 500;
}
.hero .head img {
  margin-left: 29px;
}
.hero .slogan {
  font-size: 58px;
  font-weight: bold;
}
.hero .slogan h1:first-child {
  color: #EB8382;
}
.hero .slogan h1:last-child {
  color: #446381;
}
.hero .hero-txt * + * {
  margin-top: 30px;
}
.hero .hero-txt p {
  color: #826F8C;
}
.hero .hero-txt button {
  font-size: 18px;
  font-family: inherit;
  color: white;
  background: linear-gradient(#4499D9, #7367BE);
  border: none;
  border-radius: 100px;
  padding: 13px 14px;
  -webkit-animation: beat 2s ease-in-out infinite;
          animation: beat 2s ease-in-out infinite;
}
.hero .hero-img {
  position: relative;
}
.hero .hero-img .card-vr {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  left: -60px;
  -webkit-animation: wiggle 2s linear infinite;
          animation: wiggle 2s linear infinite;
  max-width: 211px;
  max-height: 95px;
  border-radius: 10px;
  font-size: 10px;
  display: flex;
  padding: 10px;
}
.hero .hero-img .card-vr * + * {
  margin-top: 5px;
}
.hero .hero-img .card-vr span {
  font-size: 8px;
}
.hero .hero-img .card-vr p {
  color: #EB8382;
}
.hero .hero-img .card-vr h5 {
  color: #446381;
}
.hero .hero-img .card-joystick {
  background-color: rgba(255, 255, 255, 0.4);
  position: absolute;
  right: -100px;
  top: 500px;
  -webkit-animation: wiggle 2s linear infinite;
          animation: wiggle 2s linear infinite;
  max-width: 211px;
  max-height: 95px;
  border-radius: 10px;
  font-size: 10px;
  display: flex;
  padding: 10px;
}
@-webkit-keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}
.hero .hero-img .card-joystick * + * {
  margin-top: 5px;
}
.hero .hero-img .card-joystick span {
  font-size: 8px;
}
.hero .hero-img .card-joystick p {
  color: #EB8382;
}
.hero .hero-img .card-joystick h5 {
  color: #446381;
}

.scndlist-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.scndlist-text .text2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.scndlist-text .text2 h4 {
  color: #446381;
  font-size: 23px;
  padding-bottom: 30px;
}
.scndlist-text .text2 h1 {
  color: #EB8382;
  font-weight: 700;
  font-size: 58px;
}
.scndlist-text .text2 p {
  color: #826F8C;
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.scndlist-text .text2 button {
  font-size: 18px;
  font-family: inherit;
  color: white;
  background: linear-gradient(#4499D9, #7367BE);
  border: none;
  border-radius: 100px;
  padding: 13px 14px;
  -webkit-animation: beat 2s ease-in-out infinite;
          animation: beat 2s ease-in-out infinite;
}

.third {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.third img {
  order: 1;
}
.third .text3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.third .text3 h4 {
  color: #446381;
  font-size: 23px;
  padding-bottom: 30px;
}
.third .text3 h1 {
  color: #EB8382;
  font-weight: 700;
  font-size: 58px;
}
.third .text3 p {
  color: #826F8C;
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.third .text3 button {
  font-size: 18px;
  font-family: inherit;
  color: white;
  background: linear-gradient(#4499D9, #7367BE);
  border: none;
  border-radius: 100px;
  padding: 13px 14px;
  -webkit-animation: beat 2s ease-in-out infinite;
          animation: beat 2s ease-in-out infinite;
}

.forth {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "header header header" "nav article ads";
}
.forth .text4 {
  grid-area: header;
  text-align: center;
}
.forth .text4 h4 {
  color: #446381;
  font-size: 23px;
  padding-bottom: 30px;
}
.forth .text4 h1 {
  color: #EB8382;
  font-weight: 700;
  font-size: 58px;
}
.forth .text4 p {
  color: #826F8C;
  font-size: 18px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.forth .card1 {
  transition: width 2s, height 2s, transform 2s;
  grid-area: nav;
  padding-left: 20px;
  background-color: #FBDACF;
  width: 360px;
  height: 566px;
  border-radius: 20px;
}
.forth .card1 h4 {
  color: #446381;
  font-size: 32px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.forth .card1 h2 {
  color: #EB8382;
  font-size: 35px;
  padding-bottom: 30px;
}
.forth .card1 ul {
  padding-bottom: 30px;
}
.forth .card1 ul li {
  color: #826F8C;
  font-size: 18px;
  line-height: 60px;
}
.forth .card1 ul a {
  text-decoration: none;
}
.forth .card1 button {
  font-size: 18px;
  font-family: inherit;
  color: white;
  background: linear-gradient(#4499D9, #7367BE);
  border: none;
  border-radius: 100px;
  padding: 13px 70px;
  text-align: center;
}
.forth .card2 {
  transition: width 2s, height 2s, transform 2s;
  padding-left: 20px;
  background-color: #FBDACF;
  width: 360px;
  height: 566px;
  border-radius: 20px;
}
.forth .card2 h4 {
  color: #446381;
  font-size: 32px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.forth .card2 h2 {
  color: #EB8382;
  font-size: 35px;
  padding-bottom: 30px;
}
.forth .card2 ul {
  padding-bottom: 30px;
}
.forth .card2 ul li {
  color: #826F8C;
  font-size: 18px;
  line-height: 60px;
}
.forth .card2 ul a {
  text-decoration: none;
}
.forth .card2 button {
  font-size: 18px;
  font-family: inherit;
  color: white;
  background: linear-gradient(#4499D9, #7367BE);
  border: none;
  border-radius: 100px;
  padding: 13px 70px;
}
.forth .card3 {
  transition: width 2s, height 2s, transform 2s;
  grid-area: ads;
  padding-left: 20px;
  background-color: #FBDACF;
  width: 360px;
  height: 566px;
  border-radius: 20px;
}
.forth .card3 h4 {
  color: #446381;
  font-size: 32px;
  padding-bottom: 30px;
  padding-top: 30px;
}
.forth .card3 h2 {
  color: #EB8382;
  font-size: 35px;
  padding-bottom: 30px;
}
.forth .card3 ul {
  padding-bottom: 30px;
}
.forth .card3 ul li {
  color: #826F8C;
  font-size: 18px;
  line-height: 60px;
}
.forth .card3 ul a {
  text-decoration: none;
}
.forth .card3 button {
  font-size: 18px;
  font-family: inherit;
  color: white;
  background: linear-gradient(#4499D9, #7367BE);
  border: none;
  border-radius: 100px;
  padding: 13px 70px;
}
.forth .card1:hover {
  background-color: #09143C;
  transform: scale(1.05);
}
.forth .card1:hover h4 {
  color: #FFFFFF;
}
.forth .card1:hover a {
  color: #FFFFFF;
}
.forth .card1:hover button {
  -webkit-animation: beat 2s ease-in-out infinite;
          animation: beat 2s ease-in-out infinite;
}
.forth .card2:hover {
  background-color: #09143C;
  transform: scale(1.05);
}
.forth .card2:hover h4 {
  color: #FFFFFF;
}
.forth .card2:hover a {
  color: #FFFFFF;
}
.forth .card2:hover button {
  -webkit-animation: beat 2s ease-in-out infinite;
          animation: beat 2s ease-in-out infinite;
}
.forth .card3:hover {
  background-color: #09143C;
  transform: scale(1.05);
}
.forth .card3:hover h4 {
  color: #FFFFFF;
}
.forth .card3:hover a {
  color: #FFFFFF;
}
.forth .card3:hover button {
  -webkit-animation: beat 2s ease-in-out infinite;
          animation: beat 2s ease-in-out infinite;
}

footer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
}
footer p {
  color: #826F8C;
  line-height: 28px;
  font-weight: 500;
}
footer .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .icon .facebook {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCD8CB;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
footer .icon .twitter {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCD8CB;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
footer .icon .instagram {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCD8CB;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

*, html, *::after, *::before {
  padding: 0;
  margin: 0;
}

body {
  max-width: 1167px;
  margin-inline: auto;
  background-color: #FFE6D6;
  font-family: "Josefin Sans", sans-serif;
}

.border {
  position: absolute;
  background-color: #816F8C;
  width: 100%;
  height: 2px;
  left: 5px;
  top: 2786px;
}

li {
  list-style-type: none;
}

@-webkit-keyframes beat {
  from {
    scale: 1;
  }
  30% {
    scale: 1.05;
  }
  50% {
    scale: 1;
  }
  70% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

@keyframes beat {
  from {
    scale: 1;
  }
  30% {
    scale: 1.05;
  }
  50% {
    scale: 1;
  }
  70% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}/*# sourceMappingURL=main.css.map */